/application/in8-api/node_modules
/application/in8-api/public/hot
/application/in8-api/public/storage
/application/in8-api/storage/*.key
/application/in8-api/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
